beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
idna==2.6
olefile==0.44
Pillow==4.2.1
praw==5.3.0
prawcore==0.13.0
qprompt==0.9.3
requests==2.18.4
update-checker==0.16
urllib3==1.22
