beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
dependency-injector==4.37.0
idna==2.7
iterfzf==0.4.0.17.3
Pillow==7.1.1
praw==6.4.0
prawcore==1.0.1
qprompt==0.15.3
requests==2.22.0
six==1.12.0
update-checker==0.16
urllib3==1.25.6
websocket-client==0.56.0
